In [3]:
import requests
import pandas as pd
import time
from tqdm import tqdm
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer

In [4]:

# TMDb API settings
ACCESS_TOKEN = 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NDQ0NmVmYmI4YWEyMGY1YjIzODc1MGE3N2Y2NmNjYSIsIm5iZiI6MTc0ODY0ODgzNi41NDMsInN1YiI6IjY4M2E0Mzg0YzY3YmIzNzFhMWFkNzM4MyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.zeetxAXdgFEXjo0IqSYPI1oyJYfgFEoZaZihDAyU6HI'  # <-- Replace this
BASE_URL = "https://api.themoviedb.org/3/discover/movie"
HEADERS = {
    "Authorization": f"Bearer {ACCESS_TOKEN}",
    "accept": "application/json"
}

# Parameters to fetch without restrictions
PARAMS = {
    "include_adult": "true",
    "include_video": "false",
    "language": "en-US",
    "sort_by": "popularity.desc",  # You could also try vote_average.desc
    "page": 1  # We'll increment this up to page 50 (20 movies per page)
}

all_movies = []

for page in range(1, 51):  # 50 pages * 20 movies/page = 1000 movies
    print(f"Fetching page {page}...")
    PARAMS["page"] = page
    response = requests.get(BASE_URL, headers=HEADERS, params=PARAMS)
    if response.status_code == 200:
        data = response.json()
        all_movies.extend(data["results"])
    else:
        print(f"Failed on page {page}: {response.status_code}")
        break
    time.sleep(0.25)  # Avoid hitting rate limits

# Convert to DataFrame
df_movies = pd.DataFrame(all_movies)
df_movies = df_movies.drop_duplicates(subset="id").reset_index(drop=True)

print(f"Retrieved {len(df_movies)} movies.")
df_movies.head()

Fetching page 1...
Fetching page 2...
Fetching page 3...
Fetching page 4...
Fetching page 5...
Fetching page 6...
Fetching page 7...
Fetching page 8...
Fetching page 9...
Fetching page 10...
Fetching page 11...
Fetching page 12...
Fetching page 13...
Fetching page 14...

KeyboardInterrupt:

In [ ]:

# TMDb API settings
ACCESS_TOKEN = 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NDQ0NmVmYmI4YWEyMGY1YjIzODc1MGE3N2Y2NmNjYSIsIm5iZiI6MTc0ODY0ODgzNi41NDMsInN1YiI6IjY4M2E0Mzg0YzY3YmIzNzFhMWFkNzM4MyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.zeetxAXdgFEXjo0IqSYPI1oyJYfgFEoZaZihDAyU6HI'  # <-- Replace this
BASE_URL = "https://api.themoviedb.org/3/discover/movie"
HEADERS = {
    "Authorization": f"Bearer {ACCESS_TOKEN}",
    "accept": "application/json"
}

# Parameters to fetch without restrictions
PARAMS = {
    "include_adult": "true",
    "include_video": "false",
    "language": "en-US",
    "sort_by": "popularity.desc",  # You could also try vote_average.desc
    "page": 1  # We'll increment this up to page 50 (20 movies per page)
}

all_movies = []

for page in range(1, 51):  # 50 pages * 20 movies/page = 1000 movies
    print(f"Fetching page {page}...")
    PARAMS["page"] = page
    response = requests.get(BASE_URL, headers=HEADERS, params=PARAMS)
    if response.status_code == 200:
        data = response.json()
        all_movies.extend(data["results"])
    else:
        print(f"Failed on page {page}: {response.status_code}")
        break
    time.sleep(0.25)  # Avoid hitting rate limits

# Convert to DataFrame
df_movies = pd.DataFrame(all_movies)
df_movies = df_movies.drop_duplicates(subset="id").reset_index(drop=True)

print(f"Retrieved {len(df_movies)} movies.")
df_movies.head()

In [ ]:
desired_columns = [
    "adult", "genre_ids", "id", "original_language",
    "original_title", "overview", "popularity",
    "release_date", "title", "video",
    "vote_average", "vote_count"
]

df_movies = df_movies[desired_columns]
df_movies.head()

,adult,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,video,vote_average,vote_count
0,False,"[16, 878, 28]",1376434,en,Predator: Killer of Killers,This original animated anthology follows three...,708.7155,2025-06-05,Predator: Killer of Killers,False,8.047,201
1,False,"[80, 53, 28]",870028,en,The Accountant²,"When an old acquaintance is murdered, Wolff is...",634.1580,2025-04-23,The Accountant²,False,7.268,464
2,True,"[18, 10749]",1188808,tl,Tuhog,Abie mourns after the death of Michael. She fi...,565.7340,2023-11-03,Tuhog,False,4.400,7
3,False,"[10751, 35, 878]",552524,en,Lilo & Stitch,The wildly funny and touching story of a lonel...,556.0685,2025-05-17,Lilo & Stitch,False,7.108,535
4,False,"[27, 28, 53]",1233413,en,Sinners,"Trying to leave their troubled lives behind, t...",543.1837,2025-04-16,Sinners,False,7.532,1260

In [ ]:
# 1. Get genre ID-to-name mapping
genre_url = "https://api.themoviedb.org/3/genre/movie/list"
genre_response = requests.get(genre_url, headers=HEADERS)
genre_data = genre_response.json()

genre_map = {genre['id']: genre['name'] for genre in genre_data['genres']}

# 2. Convert genre_ids to names
def map_genre_ids_to_names(id_list):
    return [genre_map.get(gid, "Unknown") for gid in id_list]

df_movies['genres'] = df_movies['genre_ids'].apply(map_genre_ids_to_names)
df_movies.drop(columns=['genre_ids'], inplace=True)

df_movies[['title', 'genres']].head()

                         title                                genres
0  Predator: Killer of Killers  [Animation, Science Fiction, Action]
1              The Accountant²             [Crime, Thriller, Action]
2                        Tuhog                      [Drama, Romance]
3                Lilo & Stitch     [Family, Comedy, Science Fiction]
4                      Sinners            [Horror, Action, Thriller]

In [ ]:

# Initialize the encoder
mlb = MultiLabelBinarizer()

# Fit and transform the 'genres' column
genre_encoded = mlb.fit_transform(df_movies['genres'])

# Create a DataFrame with the genre columns
df_genres = pd.DataFrame(genre_encoded, columns=mlb.classes_)

# Concatenate with the original DataFrame
df_movies = pd.concat([df_movies.drop(columns=['genres']), df_genres], axis=1)

# Display updated DataFrame
df_movies.head()

,adult,id,original_language,original_title,overview,popularity,release_date,title,video,vote_average,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,False,1376434,en,Predator: Killer of Killers,This original animated anthology follows three...,708.7155,2025-06-05,Predator: Killer of Killers,False,8.047,...,0,0,0,0,0,1,0,0,0,0
1,False,870028,en,The Accountant²,"When an old acquaintance is murdered, Wolff is...",634.1580,2025-04-23,The Accountant²,False,7.268,...,0,0,0,0,0,0,0,1,0,0
2,True,1188808,tl,Tuhog,Abie mourns after the death of Michael. She fi...,565.7340,2023-11-03,Tuhog,False,4.400,...,0,0,0,0,1,0,0,0,0,0
3,False,552524,en,Lilo & Stitch,The wildly funny and touching story of a lonel...,556.0685,2025-05-17,Lilo & Stitch,False,7.108,...,0,0,0,0,0,1,0,0,0,0
4,False,1233413,en,Sinners,"Trying to leave their troubled lives behind, t...",543.1837,2025-04-16,Sinners,False,7.532,...,0,1,0,0,0,0,0,1,0,0

In [ ]:


# Store results
directors_list = []
cast_list = []

# You already have this function defined:
def get_crew_and_cast(movie_id):
    url = f"https://api.themoviedb.org/3/movie/{movie_id}/credits"
    response = requests.get(url, headers=HEADERS)
    while response.status_code == 429:
        print("Rate limited! Sleeping...")
        time.sleep(1)
        response = requests.get(url, headers=HEADERS)

    if response.status_code != 200:
        return [], []

    data = response.json()
    crew = data.get("crew", [])
    cast = data.get("cast", [])

    # Filter for Director
    directors = [person["name"] for person in crew if person["job"] == "Director"]

    # Top 3 cast members
    top_cast = [person["name"] for person in cast[:3]]

    return directors, top_cast

# Apply to all movies
for movie_id in tqdm(df_movies['id'], desc="Fetching crew & cast"):
    directors, top_cast = get_crew_and_cast(movie_id)
    directors_list.append(directors)
    cast_list.append(top_cast)
    time.sleep(0.25)  # Be nice to TMDb (4 req/sec)

# Add columns
df_movies['directors'] = directors_list
df_movies['top_cast'] = cast_list

Fetching crew & cast: 100%|██████████| 996/996 [06:33<00:00,  2.53it/s]

In [ ]:

# Step 1: Ensure one-hot columns are integers
df_one_hot = df_movies[mlb.classes_].astype(int)

# Step 2: Convert to NumPy array
one_hot_array = df_one_hot.to_numpy()

# Step 3: Reverse the one-hot encoding
reconstructed_genres = mlb.inverse_transform(one_hot_array)

# Step 4: Add back to DataFrame
df_movies['genres'] = reconstructed_genres

In [ ]:
df_movies.head()

NameError: name 'df_movies' is not defined

,title,text_blob
0,Predator: Killer of Killers,This original animated anthology follows three...
1,The Accountant²,"When an old acquaintance is murdered, Wolff is..."
2,Tuhog,Abie mourns after the death of Michael. She fi...
3,Lilo & Stitch,The wildly funny and touching story of a lonel...
4,Sinners,"Trying to leave their troubled lives behind, t..."

In [ ]:
df_movies.to_csv("tmdb_movie_data.csv", index=False)

NameError: name 'df_movies' is not defined